<div class="col-lg-6 d-none d-lg-block">
    <div class="d-inline-flex align-items-center h-100">
        <a class="text-body mr-3" href="#">Welcome to MuiltyShop!</a>
    </div>
</div>


@*<div class="col-lg-6 d-none d-lg-block">
    <div class="d-inline-flex align-items-center h-100">
        <a class="text-body mr-3" asp-action="Index" asp-controller="About" asp-area="About">About</a>
        <a class="text-body mr-3" asp-action="Index" asp-controller="Contact" asp-area="Contact">Contact</a>
    </div>
</div>*@