@using MuiltyShop.Services.Menu
@inject AdminSidebarService _AdminSidebarService

@{
    ViewData["Title"] = "Xóa Db";
    Layout = "/Views/Shared/_LayoutAdmin.cshtml";
}

<p class="alert alert-danger">
    Có chắc chắn xóa?
</p>

<form method="post">
    <button type="submit" class="btn btn-danger">
        Xóa Db
    </button>

    <hr>
    <a asp-action="Index">Quản lý Db</a>
</form>

@{
    _AdminSidebarService.SetActive("DbManage", "DeleteDb", "Database");
}

@section Sidebar
    {
    @Html.Raw(_AdminSidebarService.renderHtml())
}